.top {
    background-color: #141f40;
    width: 400px;
    height: 100px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.main {

}
.left {
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
    float: left;
}
.right {
    float: left;
}
.rightTop {

}
.right1 {

}
.right1Top {
    background-color: #dbd400;
    height: 50px;
    width: 150px;
}
.right1Under {
    background-color: #0093b7;
    height: 100px;
    width: 150px;
}
.right2 {
    background-color: #ff9e6b;
    width: 100px;
    height: 150px;
    float: right;
}
.rightUnder {
    background-color: #8c2727;
    height: 100px;
    width: 250px;
}
.footer {
    background-color: #d98d30;
    width: 400px;
    height: 100px;
}