@media screen and (max-width: 479px){
    .top{
        width: 150px;
        height: 100px;
    }
    .left{
        width: 150px;
        height: 100px;
        float: none;
    }
    .right{
        float: none;
    }
    .right2{
        width: 150px;
        height: 100px;
        float: none;
    }
    .right1Top{
        width: 150px;
    }
    .right1Under{
        width: 150px;
        height: 100px;
    }
    .rightUnder{
        width: 150px;
        height: 100px;
    }
    .footer{
        width: 150px;
        height: 100px;
    }
}