.header {
    background-color: #141f40;
    height: 100px;
    width: 400px;
}
.main {
    height: 250px;
}
.left {
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    float: left;
}
.right {
    float: left;
}
.top {
    background-color: #0093b7;
    height: 100px;
    width: 250px;
}
.hidari {
    background-color: #dbd403;
    height: 150px;
    width: 100px;
    float: left;
}
.uesita {
    float: left;
}
.ue {
    background-color: #ff9e6b;
    height: 50px;
    width: 150px;
}
.sita {
    background-color: #8c2727;
    height: 100px;
    width: 150px;
}
.footer {
    background-color: #d98d30;
    height: 100px;
    width: 400px;
}